<ScrollView style="background-color: white;">
    <GridLayout rows="50,150,80,*,150,100" class="firstgrid">

        <StackLayout row="0">
            <Label text="&#xf060;" class="fas backarrow" (tap)="Goback()"></Label>
        </StackLayout>
        <StackLayout row="1" class="brand-logo-container" verticalAlignment="center">
            <Image src="~/assets/images/brand-logo.png" verticalAlignment="center"></Image>
        </StackLayout>

        <StackLayout row="2" class="brand-name-container">
            <Label text="Create Account," class="h2 custom-font-bold"></Label>
            <Label text="Sign up to get started" class="text"></Label>
        </StackLayout>

        <StackLayout row="3" class="brand-textfield-container" backgrounColor="pink">


            <GridLayout class="username" rows="30,*">
                <Label row="0" class="custom-font textfield-title" text="Your Name" horizontalAlignment="left"></Label>
                <TextField row="1" [(ngModel)]="name" #nameng="ngModel" verticalAlignment="center" style.placeholderColor="gray" returnKeyType="next"></TextField>
            </GridLayout>


            <GridLayout class="username" rows="30,*">
                <Label row="0" class="custom-font textfield-title" text="Email Id" horizontalAlignment="left"></Label>

                <TextField row="1" [(ngModel)]="email" #emailng="ngModel" verticalAlignment="center" style.placeholderColor="gray" returnKeyType="next" keyboardType="email"></TextField>
            </GridLayout>


            <!--             
            <Stacklayout row="3" rows="20, *" margin="15dp 0">
                <Label row="0" class="custom-font textfield-title" text="Mobile Number" verticalAlignment="bottom" horizontalAlignment="left"></Label>
                <GridLayout columns="auto,*" row="1" class="video-link">

                    <StackLayout col="0 " class="dropdown-box">
                        <GridLayout rows="auto, auto, * " columns="auto,*">
                            <DropDown #countrydd itemsTextAlignment="center" class="dropdown" [items]="contry" [(ngModel)]="selectedcountryIndex" (selectedIndexChanged)="onchangecountry($event)"></DropDown>
                        </GridLayout>
                    </StackLayout>


                    <StackLayout col="1" verticalAlignment="center">
                        <TextField verticalAlignment="bottom" color="black" [(ngModel)]="mobile" #mobileng="ngModel" hint="Mobile Number" style.placeholderColor="gray" returnKeyType="next" keyboardType="number"></TextField>
                    </StackLayout>
                </GridLayout>
            </Stacklayout> -->

            <GridLayout class="username" rows="30,*">
                <Label row="0" class="custom-font textfield-title" text="Mobile Number" horizontalAlignment="left"></Label>

                <TextField row="1" [(ngModel)]="mobile" #mobileng="ngModel" maxlength="10" verticalAlignment="center" style.placeholderColor="gray" returnKeyType="done" keyboardType="number"></TextField>
            </GridLayout>

        </StackLayout>

        <StackLayout row="4" orientation="vertical" class="brand-signin-container">
            <Button text="Continue" class="signin-button" (tap)="next()"> </Button>
        </StackLayout>

        <StackLayout row="5" class=" accounttext" orientation="horizontal" horizontalAlignment="center" verticalAlignment="bottom">
            <Label text="Already have an account?" class="signinwithacc"> </Label>
            <Label text=" Sign In" (tap)="onsignin()" class="signinwithacc1"> </Label>

        </StackLayout>
    </GridLayout>
</ScrollView>