<ScrollView style="background-color: white;">
    <GridLayout rows="100,300," verticalAlignment="center" class="firstgrid">

        <StackLayout row="0" class="brand-name-container">

            <Label text="Password Updated!" class="h2 custom-font-bold"></Label>
            <Label text="Your password has been updated successfully, Enjoy!" horizontalAlignment="left" width="90%" class="text custom-font" textWrap="true"></Label>

        </StackLayout>
    
        <StackLayout row="1" horizontalAlignment="center" verticalAlignment="center"
            class="brand-otp-verified-container">

            <LottieView width="150" height="200" [src]="src" [loop]="loop" [autoPlay]="autoPlay"
                (loaded)="lottieViewLoaded($event)"></LottieView>

        </StackLayout>
        
    </GridLayout>

</ScrollView>