.active-switch {
    color: green;
}

.inactive-switch {
    color: var(--third);
}

.main-1 {
    padding: 30% 0 30px 30px;
    height: 100%;
}

.fab-button {
    height: 70;
    width: 70;
    margin: 15;
    background-color: var(--secondary);
    color: #FFFFFF;
    horizontal-align: right;
    vertical-align: bottom;
}

.product-empty-tag {
    text-align: center;
    font-size: 16dp;
    font-weight: 600;
    margin: 20dp 0;
}

.brand-category-container {
    /* border-radius: 50px 50px 0px 0px; */
    padding: 20dp;
    /* background-color: #256EEB; */
}

.card1 {
    padding: 0dp 5dp 0dp 5dp;
    margin: 10dp 0;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 10dp;
}

.category-image {
    border-radius: 20dp;
    height: 100dp;
    width: 100dp;
    /* border-width: 2px; */
    /* border-color: rgb(219, 214, 214); */
    border-radius: 10dp;
}

.name {
    font-size: 14dp;
    color: #000000;
    font-weight: 600;
    margin-top: 10dp;
    padding-left: 10dp;
}

.title {
    font-weight: 600;
    font-size: 14dp;
    /* padding: 10dp 0; */
}

.subtitle {
    font-size: 10dp;
    color: black;
    padding: 2dp 10dp;
}

.delete {
    font-size: 14dp;
    color: var(--third);
    padding: 10dp;
}

.edit {
    height: 34dp;
    padding-top: 7dp;
    margin: 3dp 0dp 10dp 0;
    color: white;
    width: 80dp;
    background-color: var(--secondary);
    border-radius: 5dp;
    text-align: center;
}