<GridLayout class="main" rows="*">

    <StackLayout row='1'>

        <StackLayout style="background-color: white;border-top-left-radius: 20;border-top-right-radius: 20;height: 100%;">

            <Tabs selectedIndex="0" tabsPosition='top'>

                <TabStrip>
                    <TabStripItem class="tabstrip">
                        <Label text="Category"></Label>
                    </TabStripItem>
                    <TabStripItem class="tabstrip">
                        <Label text="Products"></Label>
                    </TabStripItem>
                    
                </TabStrip>
            
                <TabContentItem>
            
                    <Label text="&#xf013; personal" class="fas"></Label>
            
                </TabContentItem>
                <TabContentItem>
            
                    <Label text="&#xf013; personal" class="fas"></Label>
            
                </TabContentItem>                
            
            </Tabs>
            
        </StackLayout>
    </StackLayout>
</GridLayout>

