<ActionBar title="Gallery manager" class="actionbar-container">

    <NavigationButton icon="font://&#xf060;" position="left" class="far actionbar-icon" (tap)="onback()"></NavigationButton>
    <ActionItem icon="font://&#xf2ed;" class="fas actionbar-icon" ios.position="left" android.position="actionBar" (tap)="onDelete()"></ActionItem>

</ActionBar>
<GridLayout class="main" rows="*">
    <!-- <StackLayout row='0' orientation="horizontal" class="main-1">
        <Label text="&#xf060;" class="far" color="white" style="font-size: 25;text-align: center; "
            verticalAlignment="center" (tap)="onToggleMenu()"></Label>
        <Label text="Gallery manager" color="white"
            style="font-size:19dp;text-align: left;padding-left: 20px;width: 80%; " verticalAlignment="center"></Label>
        <Label text="&#xf2ed;" class="fas" color="white" style="font-size: 20;text-align: center; "
            verticalAlignment="center" (tap)="deleteImage()"></Label>
    </StackLayout> -->

    <StackLayout>

        <StackLayout style="background-color: white;border-top-left-radius: 20;border-top-right-radius: 20;height: 100%;">

            <ImageSwipe [items]="items" imageUrlProperty="link" [pageNumber]="pageNumber" (pageChanged)="pageChanged($event)" backgroundColor="#000000">
            </ImageSwipe>

        </StackLayout>

    </StackLayout>

</GridLayout>