<ActionBar title="Add category" class="actionbar-container">

    <NavigationButton icon="font://&#xf060;" position="left" class="far actionbar-icon" (tap)="onback()"></NavigationButton>

</ActionBar>
<GridLayout class="main" rows="*">
    <!-- <StackLayout row='0' orientation="horizontal" class="main-1">
        <Label text="&#xf0c9;" class="far" color="white" style="font-size: 22;text-align: center;" verticalAlignment="center" (tap)="onback()"></Label>
        <Label text="Product Manager" color="white" style="font-size:19dp;text-align: left;padding-left: 20px;width: 80%; " verticalAlignment="center"></Label>
    </StackLayout> -->

    <StackLayout>

        <StackLayout style="background-color:white;height: 100%;">

            <AbsoluteLayout width="100%" height="100%">

                <ScrollView top="0" left="0" width="100%" height="100%">
                    <StackLayout row='0' class="brand-addvieo-container">


                        <GridLayout rows="50,50,130,auto,auto,auto,auto,100" class="add-video">

                            <!-- <Label row="0" text="&#xf060;" class="far backbutton custm-font" verticalAlignment="center" horzontalAlignment="left" (tap)="onback()"></Label> -->

                            <GridLayout row="1" columns="*,auto,auto" class="add-new-label">
                                <Label col="0" class="custom-font" text="Add new category" verticalAlignment="center"></Label>
                                <Label col="1" class="custom-font" color="green" *ngIf="isActive" text="Active" verticalAlignment="center"></Label>
                                <Label col="1" class="custom-font" color="red" *ngIf="!isActive" text="Inactive" verticalAlignment="center"></Label>
                                <Switch (tap)="toggleStatus()" [checked]="isActive" col="2" [ngClass]="isActive == true ? 'active-switch' : 'inactive-switch' " backgroundColor="gray" horizontalAlignment="left" verticalAlignment="top"></Switch>
                            </GridLayout>
                            <GridLayout class="username" row="2" rows="30,*">
                                <!-- <span text="*" style="color:red; font-size:16dp;"></span> -->
                                <GridLayout row="0" columns="auto,auto">
                                    <Label text="*" col="0" style="color:red; font-size:16dp;" horizontalAlignment="left"></Label>
                                    <Label col="1" class="custom-font textfield-title" verticalAlignment="center" text="Category Name" horizontalAlignment="right"></Label>
                                </GridLayout>
                                <TextField row="1" [(ngModel)]="categoryName" #categoryNameng="ngModel" verticalAlignment="center" style.placeholderColor="gray" returnKeyType="next"></TextField>
                            </GridLayout>

                            <GridLayout row="3" class="add-images-label">
                                <Label text="Title Image:" class="custom-font name1" verticalAlignment="center" horizontalAlignment="left"></Label>
                            </GridLayout>

                            <!-- <Gridlayout row="4" class="brand-addimage-container" verticalAlignment="center" horizontalAlignment="left">
                                <Stacklayout class="add-image" verticalAlignment="center" (tap)="onselectImages()" horizontalAlignment="center">
                                    <Label text="Add Images"></Label>
                                </Stacklayout>
                            </Gridlayout> -->
                            <ScrollView row="4" orientation="horizontal">
                                <Gridlayout class="brand-addimage-container" verticalAlignment="center" horizontalAlignment="left" columns="auto,auto">
                                    <Stacklayout col="0" class="add-image" verticalAlignment="center" (tap)="onselectImages()" horizontalAlignment="center">
                                        <Label text="Add Images"></Label>
                                    </Stacklayout>

                                    <Stacklayout orientation="horizontal" col="1">
                                        <Image style="margin: 2dp;background-color: transparent;" *ngFor="let image of currentImages" [src]="image" class="add-image">
                                        </Image>
                                    </Stacklayout>


                                </Gridlayout>

                            </ScrollView>


                            <GridLayout row="5" rows="30,120" orientation="vertical" class="video-preview">
                                <Label row="0" text="Category Description" class="custom-font name1" horizontalAlignment="left"></Label>
                                <GridLayout row="1" class="video-priview-desc">
                                    <TextView [(ngModel)]="categoryDesc" #categoryDescng="ngModel" style.placeholderColor="gray" returnKeyType="next" vericalAlignment="top"></TextView>
                                </GridLayout>
                            </GridLayout>


                            <GridLayout row="6" columns="auto,auto" class="brand-videobtn-container" horizontalAlignment="center">
                                <Button col="0 " text="Reset " class="reset-button " (tap)="onreset()"> </Button>
                                <Button col="1 " text="Save " (tap)="onCategory()" class="save-button "> </Button>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                </ScrollView>
            </AbsoluteLayout>
        </StackLayout>

    </StackLayout>
</GridLayout>