   /* Add mobile styles for the component here.  */
   
   .main {
       background-color: #256EEB;
   }
   
   .main-1 {
       padding: 10% 0 30px 30px;
       height: 100%;
   }
   
   button {
       font-size: 15;
       horizontal-align: center;
   }
   
   ScrollView {
       margin-top: 0%;
   }
   
   Label {
       color: black;
   }
   /* .brand-logo-container {} */
   
   .brand-logo-container Image {
       justify-content: center;
       text-align: center;
       background-color: white;
       height: 120dp;
       width: 120dp;
   }
   
   .textfield-title {
       font-size: 14dp;
       color: #797979;
       font-weight: 600;
   }
   
   .backarrow {
       font-size: 20dp;
       color: black;
   }
   
   .firstgrid {
       padding: 30% 20%;
   }
   
   .h2 {
       /* font-family: Open Sans, SemiBold; */
       font-weight: 700;
       font-size: 18dp;
       color: rgb(17, 17, 17);
   }
   
   .text {
       /* font-family: Open Sans, SemiBold; */
       font-size: 16dp;
       color: #525252;
       font-weight: 600;
       ;
   }
   /* .brand-textfield-container {
 padding: 0px 10px;
} */
   
   .brand-otp-container TextField {
       border-radius: 20px;
       background-color: rgb(247, 245, 246);
       height: 50dp;
       width: 50dp;
       text-align: center;
       align-items: center;
       font-size: 16dp;
       color: black;
       font-weight: 500;
       /* padding: 20px 0px; */
   }
   
   .brand-resendotp-container .resendotp .otp {
       font-size: 16dp;
       color: #92b6f5;
       text-decoration: underline;
   }
   
   .brand-resendotp-container .resendotp .time {
       font-size: 14dp;
       font-weight: 700;
       color: black;
   }
   
   .brand-resendotp-container .resendotp {
       margin: 20dp 0 0;
   }
   
   .signin-button {
       background-color: var(--primary);
       text-align: center;
       font-size: 16dp;
       font-weight: 600;
       border-radius: 10;
       margin: 3% 0%;
       width: 50%;
       color: white;
   }