<ScrollView>
    <GridLayout class="" rows="*">

        <StackLayout row='0'>

            <StackLayout style="background-color: white;height: 100%;">




                <StackLayout row='1' class="brand-addvieo-container">


                    <GridLayout rows="50,200,130,*,100,100" class="firstgrid">


                        <StackLayout row="0" style="margin-top: 10dp;">
                            <Label text="&#xf060;" class="fas backarrow" (tap)="Goback()"></Label>
                        </StackLayout>
                        <StackLayout row="1" class="brand-logo-container" verticalAlignment="center">
                            <Image src="~/assets/images/login-images/enter-otp.png" verticalAlignment="center"></Image>

                        </StackLayout>

                        <StackLayout row="2" class="brand-name-container">

                            <Label text="Enter 4 Digits code" class="h2 custom-font-bold"></Label>
                            <Label text="Enter 4 Digit code that you received on your email/ mobile number"
                                horizontalAlignment="left" width="90%" class="text custom-font" textWrap="true"></Label>

                        </StackLayout>
                        <StackLayout row="3">
                            <GridLayout columns="*,*,*,*" row="3" class="brand-otp-container" width="80%"
                                horizontalAlignment="center">

                                <TextField col="0" maxlength="1" (textChange)="o1()" verticalAlignment="center"
                                    style.placeholderColor="gray" [(ngModel)]="one" required #1ng="ngModel"
                                    returnKeyType="next" keyboardType="number"></TextField>
                                <TextField col="1" maxlength="1" #b (textChange)="o2()" verticalAlignment="center"
                                    style.placeholderColor="gray" [(ngModel)]="two" required #2ng="ngModel"
                                    returnKeyType="next" keyboardType="number"></TextField>
                                <TextField col="2" maxlength="1" #c (textChange)="o3()" verticalAlignment="center"
                                    style.placeholderColor="gray" [(ngModel)]="three" required #3ng="ngModel"
                                    returnKeyType="next" keyboardType="number"></TextField>
                                <TextField col="3" maxlength="1" #d verticalAlignment="center"
                                    style.placeholderColor="gray" [(ngModel)]="four" required #4ng="ngModel"
                                    returnKeyType="done" keyboardType="number"></TextField>

                            </GridLayout>

                        </StackLayout>
                        <StackLayout row="4" class="brand-resendotp-container">

                            <GridLayout class="resendotp" columns="*,*" width="60%">
                                <Label col="0" text="01:59" horizontalAlignment="center" class="time"></Label>
                                <Label col="1" text="Resend OTP" class="otp custom-font-bold"
                                    horizontalAlignment="center"></Label>

                            </GridLayout>

                        </StackLayout>

                        <StackLayout row="5" class="brand-signin-container" verticalAlignment="bottom">
                            <Button text="Verify" class="signin-button" (tap)="verifyOTP()"> </Button>
                        </StackLayout>


                    </GridLayout>
                </StackLayout>


            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>