.main{
    padding: 20px;
}

.h2 {
    font-family: Open Sans, SemiBold;
    font-weight: bold;
    font-size: 24dp;
}
.text{
    font-family: Open Sans, SemiBold;
    font-size: 16dp;
}
.icon{
    color: #256EEB;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 16dp;
}