<ScrollView style="background-color: white;">
    <GridLayout rows="50,100,*,150" class="firstgrid">



        <StackLayout row="0">
            <Label text="&#xf060;" class="fas backarrow" (tap)="Goback()"></Label>
        </StackLayout>


        <StackLayout row="1" class="brand-name-container">
            <Label text="Reset Password" class="h2 custom-font-bold"></Label>
            <Label text="Set the new password for your account so you can login and access all the features." width="80%" horizontalAlignment="left" textWrap="true" class="text custom-font"></Label>
        </StackLayout>

        <StackLayout row="2" rows="30,*" class="brand-textfield-container">
            <Label row="0" class="custom-font textfield-title" text="Your Password" horizontalAlignment="left"></Label>
            <GridLayout row="1" columns="*, auto" class="password">
                <TextField col="0" [(ngModel)]="password" #passwordng="ngModel" verticalAlignment="center" style.placeholderColor="gray" [secure]="securePassword" returnKeyType="next"></TextField>
                <Label col="1" class="page-icon far" style="font-size: 15dp;" [text]="securePassword ? '&#xf070;' : '&#xf06e;'" verticalAlignment="center" (tap)="toggleShow()"></Label>
            </GridLayout>




            <GridLayout columns="*, auto">
                <Label text="Password Guide" class="password-guide" verticalAlignment="center" horizontalAlignment="left"></Label>
                <Switch checked="true" (checkedChange)="onCheckedChange($event)" color="#256EEB" backgroundColor="gray" offBackgroundColor="black" horizontalAlignment="right"></Switch>
            </GridLayout>

            <GridLayout orientation="vertical" rows="*,*,*,*,*" columns="*" class="brand-password-guide-container" *ngIf="isChecked">
                <Label row="0" text=" Password must have a minimum 8 number of characters includes," width="80%" class="guide custom-font" horizontalAlignment="left" textWrap="true"></Label>
                <Label row="1" text="1 capital letter" horizontalAlignment="left" textWrap="true" class="guide custom-font"></Label>
                <Label row="2" text="1 small letter" horizontalAlignment="left" textWrap="true" class="guide custom-font"></Label>
                <Label row="3" text="1 numeric letter (0-9)" horizontalAlignment="left" textWrap="true" class="guide custom-font"></Label>
                <Label row="4" text="1 special character (!, @, *, %, etc.)" horizontalAlignment="left" class="guide custom-font" textWrap="true"></Label>
            </GridLayout>


            <StackLayout rows="30,*" marginTop="10dp">
                <Label row="0" colspan="2" class="custom-font textfield-title" text="Re-Enter your Password" horizontalAlignment="left"></Label>
                <GridLayout row="1" columns="*, auto" class="password">
                    <TextField row="1" [(ngModel)]="password2" #password2ng="ngModel" verticalAlignment="center" style.placeholderColor="gray" secure="true" returnKeyType="done"></TextField>

                </GridLayout>
            </StackLayout>



        </StackLayout>

        <StackLayout row="3" orientation="vertical" class="brand-signin-container" verticalAlignment="bottom">
            <Button text="Continue" class="signin-button" (tap)="updatepassword()"> </Button>
        </StackLayout>


    </GridLayout>
</ScrollView>